<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bambooJohn.mapper.EmpDeptMapper">
	
	<!-- <resultMap type="Emp" id="empMap">
		<id column="eid" property="eid"/>
		<result column="ename" property="ename"/>
		<result column="age" property="age"/>
		<result column="sex" property="sex"/>
		<result column="did" property="dept.did"/>
		<result column="dname" property="dept.dname"/>
	</resultMap> -->
	<!-- 
		<resultMap>:自定义映射，处理复杂的表关系
		<id column="eid" property="eid"/>
		<id>:设置主键的映射关系，column设置字段名，property设置属性名
		<result column="ename" property="ename"/>
		<result>:设置非主键的映射关系，column设置字段名，property设置属性名
	 -->
	
	<resultMap type="Emp" id="empMap">
		<id column="eid" property="eid"/>
		<result column="ename" property="ename"/>
		<result column="age" property="age"/>
		<result column="sex" property="sex"/>
		<association property="dept" javaType="Dept">
			<id column="did" property="did"/>
			<result column="dname" property="dname"/>
		</association>
	</resultMap>
	
	<!-- List<Emp> getAllEmps(); -->
	<select id="getAllEmps" resultMap="empMap">
		SELECT 
		e.eid,e.ename,e.age,e.sex,e.did,d.dname
		FROM
		emp e
		LEFT JOIN dept d
		ON e.did=d.did
	</select>
	
	<!-- 
		<resultMap>:自定义映射，处理复杂的表关系
	 -->
	<resultMap type="Emp" id="empStep">
		<id column="eid" property="eid"/>
		<result column="ename" property="ename"/>
		<result column="age" property="age"/>
		<result column="sex" property="sex"/>
		<!-- 
			select:分步查询的SQL的id，即接口的全限定名，方法名或namespace.SQL的id
			column:分步查询的条件，注意：此条件必须是从数据库查询过的
		 -->
		<association property="dept" select="com.bambooJohn.mapper.DeptMapper.getDeptByDid" column="did"></association>
	</resultMap>
	<!-- Emp getEmpByStep(String eid) -->
	<select id="getEmpByStep" resultMap="empStep">
		SELECT 
		eid,ename,age,sex,did
		FROM
		emp
		WHERE eid=#{eid}
	</select>
	
	
	<resultMap type="Dept" id="deptMap">
		<id column="did" property="did"/>
		<result column="dname" property="dname"/>
		<!-- 
			<collection>:处理一对多和多对多的关系
			ofType：指集合中的类型，不需要指定javaType
		 -->
		<collection property="emps" ofType="emp">
			<id column="eid" property="eid"/>
			<result column="ename" property="ename"/>
			<result column="age" property="age"/>
			<result column="sex" property="sex"/>
		</collection>
	</resultMap>
	<!-- Dept getDeptByDid(String did) -->
	<select id="getDeptByDid" resultMap="deptMap">
		SELECT
		d.did,d.dname,e.eid,e.ename,e.age,e.sex
		FROM
		dept d
		LEFT JOIN emp e
		ON d.did = e.did 
		WHERE d.did=#{did}
	</select>
	
</mapper>